# Breve Introducción a Python

<a href="https://en.wikipedia.org/wiki/Python_(programming_language)" title="Python">Python</a> es un lenguaje interpretado de tipos dinámicos. A diferencia de R, por ejemplo, es un lenguaje de uso general y su capacidad para las ciencias de datos no viene dada desde sus librerías internas sino por los módulos externos. Se puede usar en forma imperativa u orientada a objetos; teóricamente también dentro del paradigma de programación funcional, pero con ciertas limitaciones (existen límites para ejecución recursiva, por ejemplo).

Python puro tiende a ser lento (para ejecutar, rápido para escribir), por tener tipos dinámicos y por el <a href="https://en.wikipedia.org/wiki/Global_interpreter_lock" title="GIL">GIL</a>. Sin embargo, el intérprete más comúnmente usado (CPytyhon) esta implementado en C y permite la integración de módulos externos de C, C++ y Fortran que, bien utilizados, permiten la aceleración de las partes claves de un programa. 

Desde lo estético, Python reemplaza las llaves por indentaciones, cosa que fuerza un código más leíble. Por lo demás, existe toda una "filosofía" de lo que es "pythonico", en términos de prolijidad, funcionalidad y belleza del código.

In [2]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### Acerca del Markdown

https://www.markdownguide.org/basic-syntax/

## Operaciones Básicas


| Operador  | Operación                        | Ejemplo         |
| --------- | -------------------------------- | --------------- |
| **        | Potencia                         | `2 ** 3 = 8`    |
| %         | Resto                            | `22 % 8 = 6`    |
| //        | División de enteros              | `22 // 8 = 2`   |
| /         | Division normal                  | `22 / 8 = 2.75` |
| *         | Multiplicación                   | `3 * 3 = 9`     |
| -         | Resta                            | `5 - 2 = 3`     |
| +         | Suma         | `2 + 2 = 4`     |

In [3]:
22 / 8

2.75

In [4]:
22 // 8, 22 % 8

(2, 6)

## Variables

Las variables se asignan con el signo igual =, y su nombre sólo se pueden usar letras, números y guió bajo (_), no se pueden usar espacios y tampoco pueden empezar con un número

In [5]:
123var = 123

SyntaxError: invalid syntax (<ipython-input-5-83c31c4f381e>, line 1)

In [6]:
var123 = 123

In [7]:
type(var123)

int

## Tipos Básicos de Datos


| Tipo  | Ejemplo
| --------- | --------------- |
| Lógico    | True, False| 
| Entero    | 1, 2, 3| 
| Decimal o punto flotante         | 1.25, -120.25 | 
| Cadena o texto        | Hola, Adiós              | 
| Lista        | \[1, 2, 3\]              |
| Diccionario        | {"llave": "valor"}              |

In [8]:
# Generamos algunas variables para usar de ejemplo más adelante

cadena = "estos es una cadena de texto"

entero = 10

punto_flotante = 10.4

punto_flotante_alternativa = 10.

booleano = False

lista = ["elemento1", "elemento2", 1236, 10.2, 2., True]

tupla = ("elemento1", "elemento2", 1236, 10.2, 2., True)

diccionario = {"llave1": 1, "llave2": 2}

Vemos las Variables usando el comando mágico "whos"

In [9]:
whos

Variable                     Type      Data/Info
------------------------------------------------
booleano                     bool      False
cadena                       str       estos es una cadena de texto
diccionario                  dict      n=2
entero                       int       10
lista                        list      n=6
punto_flotante               float     10.4
punto_flotante_alternativa   float     10.0
this                         module    <module 'this' from '/Use<...>3/lib/python3.7/this.py'>
tupla                        tuple     n=6
var123                       int       123

### Operaciones con cadenas de texto

Las cadenas se pueden sumar y multiplicar, dependiendo el caso multiplicar es razonable, pero sumar esta desaconsejado; se recomienda usar formateo de texto

In [10]:
palabra1 = "hola"
palabra2 = "mundo"
palabra1 + palabra2

'holamundo'

In [11]:
texto="""SELECT TITLE
FROM TABLE1
WHERE TABLE1.LENGTH >200
;
"""

In [12]:
texto

'SELECT TITLE\nFROM TABLE1\nWHERE TABLE1.LENGTH >200\n;\n'

In [13]:
print(texto)

SELECT TITLE
FROM TABLE1
WHERE TABLE1.LENGTH >200
;

In [14]:
'Hola mundo'

'Hola mundo'

Usando fomateo de texto:

In [15]:
f"{palabra1} {palabra2}"

'hola mundo'

In [16]:
num = 1233432.127
por = 0.1568

f"interpolar tambien permite cosas complejas como separador de miles {num:,.0f} o porcentajes {por:.5%}"

'interpolar tambien permite cosas complejas como separador de miles 1,233,432 o porcentajes 15.68000%'

### Funciones básicas de los diccionarios

In [17]:
diccionario

{'llave1': 1, 'llave2': 2}

In [18]:
diccionario.keys()

dict_keys(['llave1', 'llave2'])

In [19]:
diccionario.values()

dict_values([1, 2])

In [20]:
diccionario.items()

dict_items([('llave1', 1), ('llave2', 2)])

In [21]:
diccionario["llave1"]

1

### Funciones básicas de las listas

Los elementos de una lista se pueden acceder mediante su indice

* Todos los indices empiezan en 0
* Se usan numeros enteros
* El indice maximo equivale a la cantidad de (elementos - 1)
* Se accede al elemento con [*indice*]
* Si el indice es negativo, se cuenta desde el final

In [22]:
lista

['elemento1', 'elemento2', 1236, 10.2, 2.0, True]

In [23]:
len(lista)

6

In [24]:
lista[0]

'elemento1'

In [25]:
lista[-1]

True

In [26]:
lista[2]

1236

In [27]:
tupla

('elemento1', 'elemento2', 1236, 10.2, 2.0, True)

In [28]:
tupla[0]

'elemento1'

In [29]:
lista[0] = "otro elemento"
lista

['otro elemento', 'elemento2', 1236, 10.2, 2.0, True]

In [30]:
tupla[0] = "otro elemento"

TypeError: 'tuple' object does not support item assignment

### Seleccionando rangos
Se pueden seleccionar mas de un elemento de una lista usando '**:**'

Para seleccionar los primeros 2 se hace **[:2]**

In [31]:
lista[1:3]

['elemento2', 1236]

Los ultimos dos:

In [32]:
lista[-2:]

[2.0, True]

Que es lo mismo que seleccionar desde el 3o al ultimo

In [33]:
lista[3:]

[10.2, 2.0, True]

Del segundo al cuarto (ojo que el segundo elemento es el indice 1)

In [34]:
lista[1:4]

['elemento2', 1236, 10.2]

### Agragando datos a una Lista

Usando append() lo agrego al final

In [35]:
nombres = ['Pedro', 'Lucia', 'Juan', 'Maria']
nombres.append('Manuel')
nombres

['Pedro', 'Lucia', 'Juan', 'Maria', 'Manuel']

Usando insert() le digo la posición donde insertarlo

In [36]:
nombres = ['Pedro', 'Lucia', 'Juan', 'Maria']
nombres.insert(1, 'Manuel')
nombres

['Pedro', 'Manuel', 'Lucia', 'Juan', 'Maria']

### Elimino Valores de Una lista o los Ordeno

Puedo Eliminarlos usando remove()

In [37]:
nombres = ['Pedro', 'Lucia', 'Juan', 'Maria']
nombres.remove('Lucia')
nombres

['Pedro', 'Juan', 'Maria']

Puedo ordenarlos usando sort()

In [38]:
numeros = [2, 5, 3.14, 1, -7]
numeros.sort()
numeros

[-7, 1, 2, 3.14, 5]

In [39]:
nombres = ['Pedro', 'Lucia', 'Juan', 'Maria','2']
nombres.sort()
nombres

['2', 'Juan', 'Lucia', 'Maria', 'Pedro']

Puedo invertir el orden con `reverse=True`

In [40]:
numeros.sort(reverse=True)
numeros

[5, 3.14, 2, 1, -7]

## Ejercicios

#### Objetos y Tipos

Asignar a un objeto llamado "Numero" el resultado de: 100 / 4

In [41]:
Numero=100/4

Ver el Tipo de Dato de el objeto Numero

In [42]:
type(Numero)

float

#### Listas

Crear una Lista llamada "Letras" que contenga 5 letras de la A a la E  (A, B, C, D, E)

In [43]:
Letras=['A','B','C','D','E']

Buscar, usando el indice, el primer y el ultimo elemento de la lista

In [44]:
Letras[0]

'A'

In [45]:
Letras[-1]

'E'

Buscar, usando el indice, los 3 primeros elementos de la lista

In [46]:
Letras[0:3]

['A', 'B', 'C']